<h3>Attach a scan of the manifest</h3>

<%= simple_form_for :manifest, url: upload_path, method: :post do |form| %>
  <%= form.input :uploaded_file, as: :file %>
  <%= form.simple_fields_for :generator do |generator| %>
    <%= generator.input :manifest_tracking_number, label: 'Manifest Tracking Number' %>
  <% end %>
  <%= form.submit 'Submit' %>
<% end %>
