<div class="usa-width-two-thirds">

  <h3>Public manifests</h3>

  <table>
    <thead>
      <th>Tracking Number</th>
      <th>Generator Name</th>
      <th>Disposal Facility</th>
      <th>Date</th>
    </thead>
    <tbody>
      <% @manifests.each do |manifest| %>
        <tr>
          <td><%= link_to manifest.tracking_number, manifest_path(manifest) %></td>
          <td><%= manifest.generator_name %></td>
          <td><%= manifest.disposal_facility %></td>
          <td><%= manifest.created_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="usa-width-one-third">
  <form class="callout">
    <fieldset>
      <h2>Filter manifests</h2>
      <label class="featured" for="generator_name">Generator name</label>
      <input id="generator_name" name="generator_name" type="text">
      <label class="featured" for="tsdf_name">Disposal facility name</label>
      <input id="tsdf_name" name="tsdf_name" type="text">

      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <label for="origin_state">Generator state</label>
          <select name="origin_state" id="origin_state" class="usa-input-grid-tiny tiny-input">
            <% us_states.each do |state| %>
             <option value=<%=state[1]%>><%=state[1]%></option>
            <% end %>
          </select>
        </div>
        <div class="usa-width-one-half">
          <label for="origin_state">Disposal facility state</label>
          <select name="origin_state" id="origin_state" class="tiny-input">
            <% us_states.each do |state| %>
             <option value=<%=state[1]%>><%=state[1]%></option>
            <% end %>
          </select>
        </div>
      </div>

      <label class="featured">Date</label>
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <label for="from_date">Beginning</label>
          <input id="from_date" name="from_date" type="text">
        </div>
        <div class="usa-width-one-half">
          <label for="to_date">Ending</label>
          <input id="to_date" name="to_date" type="text">
        </div>
      </div>
      <br>
      <div>
        <a class="small" href="#"><span class="expand-control">+</span>Additional filters</a>
      </div>

      <button class="usa-button-big" type="button">Filter</button>
      <div>
        <a class="small" href="#">Clear filter</a>
      </div>
    </fieldset>
  </form>
</div>
