<div class="usa-width-two-thirds">
  <h2>
    Manifest <%= @manifest.tracking_number %></span>
  </h2>

  <h3>Generator</h3>
  <dl>
    <dt>Generator ID Number</dt>
    <dd><%= @manifest.tracking_number %></dd>
    <dt>Emergency Phone Number</dt>
    <dd><%= @manifest.tracking_number %></dd>
    <dt>Manifest Tracking Number</dt>
    <dd><%= @manifest.tracking_number %></dd>
    <dt>Generator's Name</dt>
    <dd><%= @manifest.generator_name %></dd>
    <dt>Mailing Address</dt>
    <dd><%= @manifest.tracking_number %></dd>
    <dt>Phone</dt>
    <dd><%= @manifest.tracking_number %></dd>
  </dl>

  <h3>Transporter</h3>
  <dl>
    <dt>Company Name</dt>
    <dd><%= @manifest.tracking_number %></dd>
    <dt>U.S. EPA ID Number</dt>
    <dd><%= @manifest.tracking_number %></dd>
  </dl>

  <h3>Designated Facility</h3>
  <dl>
    <dt>Company Name</dt>
    <dd><%= @manifest.tracking_number %></dd>
    <dt>Mailing Address</dt>
    <dd><%= @manifest.tracking_number %></dd>
    <dt>Phone</dt>
    <dd></dd>
    <dt>U.S. EPA ID Number</dt>
    <dd></dd>
  </dl>

  <h3>Waste</h3>
  <dl>
    <dt>MM</dt>
    <dd></dd>
    <dt>U.S. DOT Description</dt>
    <dd></dd>
    <dt>Unit Wt./Vol.</dt>
    <dd></dd>
    <dt>U.S. EPA Federal Waste Codes</dt>
    <dd></dd>
    <dt>State Waste Codes</dt>
    <dd></dd>
    <dt>Generator's/Officer's Name</dt>
    <dd></dd>
    <dt>Date</dt>
    <dd></dd>
    <dt>Transporter Name of Signatory</dt>
    <dd></dd>
    <dt>Date Signed</dt>
    <dd></dd>
  </dl>

  <dl>
    <dt>Designated Facility Officer or Operator Name</dt>
    <dd></dd>
    <dt>Date Signed</dt>
    <dd></dd>
    <dt>Date Submitted</dt>
    <dd></dd>
  </dl>
</div>

<div class="usa-width-one-third">
  <div class="callout">
    <dl>
      <dt>Manifest #</dt>
      <dd><%= @manifest.tracking_number %></dd>
      <dt>Generator</dt>
      <dd><%= @manifest.generator_name %></dd>
      <dt>Disposal Facility</dt>
      <dd><%= @manifest.disposal_facility %></dd>
      <dt>Date</dt>
      <dd><%= @manifest.created_on %></dd>
    </dl>

    <button class="usa-button-big" type="button">Download</button>
  </div>
</div>
